.center {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 120px;
}

.left {
    margin-left: 25px;
}

.cart {
    position: sticky;
    top: 80px;
}

.cart-bottom {
    margin-bottom: 50px;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;

}

.icon {
    font-size: 20px;
}

.red {
    background-color: #FF3030;
    color: #fff;
    border: none;
    border-radius: 5px;

}

.orrange {
    background-color: #FF9900;
    color: #fff;
    border: none;
    border-radius: 5px;
}

a:-webkit-any-link {
    text-decoration: none;

}