.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 17px;
}

.header a:hover {
    color: orangered;
}